*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
    font-family: arial,sans-serif;
}
.header,
.header ul,
.main-top,
.main-middle,
.footer,
.footer ul {
    display: flex;
}
.header,
.main-top,
.footer,
.footer ul {
    justify-content: space-between;
}
.header,
.header ul,
.main-middle,
.main-top,
.footer {
    align-items: center;
}
.header ul,
.footer ul {
    list-style-type: none;
}
/* HEADER */

.header {
    height: 80px;
    padding: 30px 5px;
    padding-right: 25px;
}
.header ul {
    justify-content: center;
    gap: 20px;
}
.user-img {
    border-radius: 50%;
}
.square-img {
    display: inline-block;
    max-width: 25px;
}
/* MAIN */
input:focus-visible {
    outline: none;
    border: 1px solid #ced4da;
}
input:focus {
    outline: none;
    box-shadow: none;
}
.main-middle {
    padding: 0px 50px;
    justify-content: start;
}
.main-top {
    padding: 30px;
}
.main-top-text {
    padding-right:500px;
}
.main-middle-item:nth-of-type(1) {
    width: 190px;
}
.advanced-search {
    height: 80px;
    color: #d93025;
    font-size: 20px;
    border-bottom: 1px solid #ebebeb;
    padding-left: 50px;
}
#forms {
    display: flex;
    flex-direction: row;
    gap: 40px;
}
#text-explanation, #advanced-search-form, .labels {
    display: flex;
    flex-direction: column;
}
#text-explanation {
    gap: 12px;
}
#advanced-search-form {
    gap: 16px;
    width: 400px;
}
.labels {
    gap: 23px;
    width: 210px;
}
.labels label {
    padding-left: 40px;
    width: 235px;
    white-space: pre;
    color: #222;
    font-size: 13px;
    line-height: 16px;
    height: 25px;
}
.label-right {
    color: #666;
    font-size: 11px;
    white-space: pre;
}
.button {
  background-color: #4d90fe;
  border: 1px solid #0077CC;
  border-radius: 4px;
  color: #FFFFFF;
  min-width: 30px;
  max-width: 100px;
  padding: 4px 5px;
  text-align: center;
  vertical-align: baseline;
  touch-action: manipulation;
  white-space: nowrap;
  margin-left: 300px;
  font-size: 11px;
}
.button:disabled {
  cursor: default;
  opacity: .3;
}
.button:hover {
  background-image: linear-gradient(#51A9EE, #147BCD);
  border-color: #1482D0;
  text-decoration: none;
}
.button:active {
  background-image: linear-gradient(#3D94D9, #0067B9);
  border-color: #006DBC;
  outline: none;
}
.button:focus {
  box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
  outline: none;
}
.em {
    color: #666;
    font-family: monospace;
    font-size: 11px;
    white-space: pre;
}
input {
    padding-left: 5px;
}
/* FOOTER */
.footer {
    background-color: #f2f2f2;
    height: 64px;
    padding-top: 25px;
    padding-right: 35px;
    position:absolute;
    bottom:0;
    width:100%; 
}
.footer ul {
    align-content: center;
    color: #70757a;
}
.footer-link {
    color: #70757a;
    text-decoration: none;
}
.footer-link:hover {
    color: #70757a;
    text-decoration: underline;
}
.footer-left ul {
    gap: 20px;
}
.main-all-words {
    width: 200px;
  }
.footer-link:hover {
    color: #70757a;
    text-decoration: underline;
}
/* Responsive */
/* For Mobile */
@media screen and (max-width: 540px) {
    .input-group {
        width: 265px;
    }
    .main-top-text {
        display: none;
    }
    .main-text-left {
        display: none;
    }
    .main-middle-item:nth-of-type(1) {
        width: 185px;
    }
    .labels label {
        padding-left: 15px;
        width: 235px;
    }
    .advanced-search {
        height: 60px;
    }
    p.label-right {
        display: none;
    }
    .button {
        margin-left: 140px;
    }
    .labels {
        width: 135px;
    }
}
/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 1100px) {
    .input-group {
        width: 500px;
    }
    .main-middle-item:nth-of-type(1) {
        width: 200px;
    }
    .main-top-text {
        display: none;
    }
    .label-right {
        display: none;
    }
    .button {
        margin-left: 300px;
    }
    .labels {
        width: 200px;
    }
}