*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
    font-family: arial,sans-serif;
}
.header,
.header ul,
.main-top,
.main-middle,
.footer,
.footer ul {
    display: flex;
}
.header,
.main-top,
.footer,
.footer ul {
    justify-content: space-between;
}
.header,
.header ul,
.main-middle,
.main-top,
.footer {
    align-items: center;
}
.header ul,
.footer ul {
    list-style-type: none;
}

/* HEADER */

.header {
    height: 80px;
    padding: 30px 5px;
    padding-right: 25px;
}
.header ul {
    justify-content: center;
    gap: 20px;
}
.user-img {
    border-radius: 50%;
}
.square-img {
    display: inline-block;
    width: 25px;
}


/* MAIN */
input:focus-visible {
    outline: none;
    border: 1px solid #ced4da;
}
input:focus {
    outline: none;
    box-shadow: none;
}
.main-middle {
    padding: 0px 50px;
    justify-content: start;
}
.main-top {
    padding: 30px;
}
.main-top-text {
    padding-right:500px;
}
.main-middle-item:nth-of-type(1) {
    width: 190px;
}
.advanced-search {
    height: 80px;
    color: #d93025;
    font-size: 20px;
    border-bottom: 1px solid #ebebeb;
    padding-left: 50px;
}
#forms {
    display: flex;
    flex-direction: row;
}
#text-explanation, #advanced-search-form, .labels {
    display: flex;
    flex-direction: column;
}
#forms {
    gap: 40px;
}
#text-explanation {
    gap: 6px;
}
#advanced-search-form {
    gap: 15px;
    width: 400px;
}
.labels {
    gap: 23px;
    width: 210px;
}
.labels label {
    padding-left: 40px;
    width: 235px;
}
.button {
  background-image: linear-gradient(#42A1EC, #0070C9);
  border: 1px solid #0077CC;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  direction: ltr;
  display: block;
  font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -.022em;
  line-height: 1.47059;
  min-width: 30px;
  max-width: 200px;
  overflow: visible;
  padding: 4px 15px;
  text-align: center;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button:disabled {
  cursor: default;
  opacity: .3;
}

.button:hover {
  background-image: linear-gradient(#51A9EE, #147BCD);
  border-color: #1482D0;
  text-decoration: none;
}

.button:active {
  background-image: linear-gradient(#3D94D9, #0067B9);
  border-color: #006DBC;
  outline: none;
}

.button:focus {
  box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
  outline: none;
}

/* FOOTER */

.footer {
    background-color: #f2f2f2;
    height: 56px;
    padding-top: 25px;
    padding-right: 35px;
    position:absolute;
    bottom:0;
    width:100%; 
}
.footer ul {
    align-content: center;
    color: #70757a;
}
.footer-link {
    color: #70757a;
    text-decoration: none;
}
.footer-link:hover, {
    color: #70757a;
    text-decoration: underline;
}
.footer-left ul {
    gap: 20px;
}
.main-all-words {
    width: 200px;
  }

/* Responsive */

/* For Mobile */
@media screen and (max-width: 540px) {

    .input-group {
        width: 265px;
    }
    .main-top-text {
        display: none;
    }
    .main-text-left {
        display: none;
    }
    .main-middle-item:nth-of-type(1) {
        width: 185px;
    }
    .labels label {
        padding-left: 15px;
        width: 235px;
    }
    .advanced-search {
        height: 60px;
    }
    p.label-right {
        display: none;
    }
}
/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 1100px) {
    .input-group {
        width: 500px;
    }
    .main-middle-item:nth-of-type(1) {
        width: 200px;
    }
    .main-top-text {
        display: none;
    }
    .label-right {
        display: none;
    }
}