*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}
body {
    font-family: arial,sans-serif;
}
.header,
.header ul,
.buttons,
.footer-middle,
.footer-middle ul,
.footer,
.footer ul,
.main {
    display: flex;
}
.header,
.footer-middle ul,
.footer,
.footer ul {
    justify-content: space-between;
}
.header,
.header ul,
.footer,
.main {
    align-items: center;
}
.header ul,
.buttons {
    justify-content: center;
}
.footer ul,
.header ul {
    list-style-type: none;
}
.header-link,
.header-link:hover,
.footer-link {
    text-decoration: none;
}
.btn.button:hover,
#hat-btn,
#hat-btn:hover,
.form-control:focus-visible {
    border: 1px solid #ced4da;
}
.btn:hover,
#hat-btn,
#hat-btn:hover {
    border-right: none;
}
.form-control:focus-visible,
.form-control:focus {
    outline: none;
}
.header-link,
.header-link:hover {
    color: black;
}


/* HEADER */
.header {
    height: 80px;
    padding: 30px 5px;
    padding-right: 25px;
}
.header ul {
    gap: 20px;
}
.user-img {
    border-radius: 50%;
}
.square-img {
    display: inline-block;
    width: 25px;
}


/* MAIN */
.buttons {
    gap: 10px;
    padding-bottom: 30px;
}

.main {
    height: 83vh;
    padding: 25vh;
    flex-direction: column;
}
.google-search {
    padding: 30px;
}
.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    border-left: none;
}
.input-group {
    width: 700px;
    padding: 30px;
}
.search-icon {
    width: 30px;
}
.form-control:focus {
    box-shadow: none;
}


/* FOOTER */
.footer-link {
    color: #70757a;
}
.footer-link:hover {
    color: #70757a;
    text-decoration: underline;
}
.footer-left ul, 
.footer-right ul {
    gap: 20px;
}
.footer-middle {
    padding-right: 90px;
}
.footer-middle ul {
    gap: 5px;
}
.footer {
    background-color: #f2f2f2;
    height: 58px;
    padding-top: 25px;
    padding-right: 35px;
}
.footer ul {
    align-content: center;
    color: #70757a;
}
.leaf-img {
    width: 15px;
}
#leaf-link {
    padding: 0px;
}

/* Responsive */

/* For Mobile */
@media screen and (max-width: 540px) {
    .avs {
        display: none;
    }
    .quote {
        width: 400px;
    }
    .footer {
        flex-wrap: wrap;
        justify-content: center;
        height: 10vh;
        padding: 15px;
    }
    .footer-link:nth-of-type(2) {
        text-align: center !important;
        padding: 0 !important;
        margin: 0 !important;
    }
    .footer-middle {
        padding-right: 0px;
    }
    .main {
        height: 81vh;
    }
    .input-group {
        width: 450px;
    }
}
/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
    .input-group {
        width: 580px;
    }
    .quote {
        width: 400px;
    }
    .footer {
        flex-wrap: wrap;
        justify-content: center;
        height: 10vh;
        padding: 15px;
    }
    .main {
        height: 81vh;
    }
    .header {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}