*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 30px 5px;
    padding-right: 25px;
}
.header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style-type: none;
}
.main {
    height: 85vh;
    padding: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body {
    font-family: arial,sans-serif;
}
.google-search {
    padding: 30px;
}
.user-img {
    border-radius: 50%;
}
.square-img {
    display: inline-block;
    width: 25px;
}
.logo-img {
    width: auto;
    height: auto;
}
.footer {
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    height: 50px;
    align-items: center;
    padding-top: 25px;
    padding-right: 35px;
}
.footer ul {
    display: flex;
    justify-content: space-between;
    align-content: center;
    list-style-type: none;
    color: #70757a;
}
.header-link {
    text-decoration: none;
    color: black;
}
.header-link:hover {
    text-decoration: none;
    color: black;
}
.footer-link {
    color: #70757a;
    text-decoration: none;
}
.footer-link:hover, {
    color: #70757a;
    text-decoration: underline;
}

.footer-left ul, 
.footer-right ul {
    gap: 20px;
}
.footer-middle {
    padding-right: 90px;
    display: flex;
}
.footer-middle ul {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
.leaf-img {
    width: 15px;
}
.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    border-left: none;
}

.btn:hover {
    border-right: none;
} 
.btn.button:hover {
    border: 1px solid #ced4da;
}
#hat-btn {
    border: 1px solid #ced4da;
    border-right: none;
  }
  #hat-btn:hover {
    border: 1px solid #ced4da;
    border-right: none;
  }
.input-group {
    width: 700px;
    padding: 30px;
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 30px;
}  
.search-icon {
    width: 30px;
}

.logo-img-text {
    padding-left: 215px;
    margin-bottom: -10px;
    margin-top: -20px;
    color: #4285f4;
    font: 16px/16px roboto-regular, arial, sans-serif;
    white-space: nowrap;
}
.nav-img-search {
    display: flex;
}
.header-img-search {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 80px;
    padding: 30px 5px;
    padding-right: 25px;
}
.header-img-search ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style-type: none;
}
.form-control:focus-visible {
    outline: none;
    border: 1px solid #ced4da;
  }
  .form-control:focus {
    outline: none;
    box-shadow: none;
  }
  .advanced-search {
    height: 100px;
    color: #d93025;
    font-size: 20px;
    padding: 30px 50px;
    border-bottom: 1px solid #ebebeb;
  }
  .main-avs {
    height: 85vh;
  }
.container-avs {
    display: flex;
    align-items: center;
    padding: 0px 50px;
    justify-content: start;
}

.avs-text-container {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
}
.avs-fpw-text-right {
    padding-right:540px;
}

.avs-left-text {
    font-size: 13px;
}
.avs-all-words {
    padding-left: 71px;
}
.avs-all-words-2 {
    padding-left: 44px;
}
.avs-all-words-3 {
    padding-left: 35px;
}